<p id="notice"><%= notice %></p>

<p>
  <strong>Access token:</strong>
  <%= @api_key.access_token %>
</p>

<p>
  <strong>User:</strong>
  <%= @api_key.user_id %>
</p>

<p>
  <strong>Api client:</strong>
  <%= @api_key.api_client_id %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @api_key.expires_at %>
</p>

<%= link_to 'Edit', edit_api_key_path(@api_key) %> |
<%= link_to 'Back', api_keys_path %>
