<%= form_with(model: api_client, local: true) do |form| %>
  <% if api_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(api_client.errors.count, "error") %> prohibited this api_client from being saved:</h2>

      <ul>
      <% api_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :api_client_name %>
  </div>

  <div class="field">
    <%= form.label :app_token %>
    <%= form.text_field :app_token, id: :api_client_app_token %>
  </div>

  <div class="field">
    <%= form.label :app_secret %>
    <%= form.text_field :app_secret, id: :api_client_app_secret %>
  </div>

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active, id: :api_client_is_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
