<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @api_client.name %>
</p>

<p>
  <strong>App token:</strong>
  <%= @api_client.app_token %>
</p>

<p>
  <strong>App secret:</strong>
  <%= @api_client.app_secret %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @api_client.is_active %>
</p>

<%= link_to 'Edit', edit_api_client_path(@api_client) %> |
<%= link_to 'Back', api_clients_path %>
